DATABASE_URL=
BASE_DOMAIN=eduka.uz

LANDING_BOT_TOKEN=
LANDING_CHAT_ID=

STUDENT_BOT_TOKEN=
STUDENT_WEBAPP_URL=https://eduka.uz/student-app
STUDENT_APP_SESSION_SECRET=
TELEGRAM_WEBHOOK_SECRET=

ENABLE_BOT_POLLING=false
PGSSLMODE=require
